@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "AbrilFatface-Regular";
  src: url("./fonts/AbrilFatface-Regular.ttf") format("truetype");

  /* Weitere Angaben wie font-weight, font-style usw. können hier hinzugefügt werden */
}
@font-face {
  font-family: "NotoSansArabic-Regular";
  src: url("./fonts/NotoSansArabic-Regular.ttf") format("truetype");

  /* Weitere Angaben wie font-weight, font-style usw. können hier hinzugefügt werden */
}
@font-face {
  font-family: "Roboto-Light";
  src: url("./fonts/Roboto-Light.ttf") format("truetype");

  /* Weitere Angaben wie font-weight, font-style usw. können hier hinzugefügt werden */
}
body,
#root {
  font-family: "Roboto-Light", sans-serif;
  height: 100vh;
}
.arabicFont {
  font-family: "NotoSansArabic-Regular";
}
